	  body {
        background-image: url('./recursos/imagenes/fondo.gif');
		background-repeat: repeat;
		background-size: 1500px;
      }
      
	  @font-face {
        font-family: "righteous";
        src: url(./recursos/fonts/right.ttf);
	  }
	  
	  @font-face {
        font-family: "museo";
        src: url(./recursos/fonts/museo.ttf);
	  }
	  
	  @font-face {
        font-family: "one";
        src: url(./recursos/fonts/one.ttf);
	  }
	  
	  @font-face {
        font-family: "rubik";
        src: url(./recursos/fonts/rubik.ttf);
	  }
	  
      h1 {
        text-align: center;
		font-family: "righteous", sans-serif;
		font-size: 45px;
		color: yellow;
      }
      
	  .descripcion {
		  font-family: "museo", sans-serif;
		  font-size: 20px;
		  color: #61eb34;
	  }
	  
	  .descripcion2 {
		  font-family: "museo", sans-serif;
		  font-weight: bold;
		  font-size: 27px;
		  color: #e2f518;
	  }
	  
	  .titulocaracteristicas {
		  font-family: "righteous", sans-serif;
		  font-weight: bold;
		  font-size: 27px;
		  color: #e2f518;
	  }
	  
      .cuadro {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
		color: white;
      }
	  
	  .cuadro img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	  }
      
      .caracteristicas {
        width: calc(33.33% - 20px);
        margin-bottom: 40px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      }
      
      .caracteristicas img {
        width: 100%;
        height: auto;
      }
      
      .caracteristicas h2 {
        text-align: center;
        margin-top: 10px;
        color: #333;
		font-family: "one", sans-serif;
		font-weight: bold;
		color: white;
      }
      
      .caracteristicas p {
        text-align: justify; 
		font-family: "rubik", sans-serif;
      }